@font-face {
    font-family: "Roboto";
    src:
      local("Roboto"),
      url("./fonts/Roboto-Black.ttf") format("opentype") tech(color-COLRv1)
}
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.container {
    text-align: center;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2, h3 {
    color: #333;
}
p, ul, ol {
    color: #666;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
}

li {
    margin: 0.5rem 0;
}

.logo {
    width: 10rem;
    margin: auto;
}